.about-index-section {
  padding-top: 200px;
  background: url('../img/content-bg.png') no-repeat center 55px;
  margin: 0 auto 63px;
  min-height: 1052px;
  position: relative;
  .about-index-inner {
    position: relative;
    border-top: 2px solid #464b2c;
    border-bottom: 2px solid #464b2c;
  }

  .about-leaf, .oil-hand, .about-small-leaf, .about-oil {
    position: absolute;
  }

  .about-oil {
    background: url('../img/oil.png') no-repeat;
    width: 325px;
    height: 465px;
    bottom: -156px;
    left: 0;
  }

  .about-small-leaf {
    background: url('../img/small-leaf.png') no-repeat;
    height: 301px;
    width: 192px;
    top: 453px;
    right: 457px;
    z-index: 3;
  }

  .about-leaf {
    background: url('../img/leaf-big.png') no-repeat;
    top: 84px;
    width: 300px;
    height: 392px;
  }

  .oil-hand {
    background: url('../img/hand-oil.png') no-repeat;
    width: 571px;
    height: 1316px;
    top: -116px;
    right: 0;
  }

  .about-button {
    border: 1px solid #939598;
    border-bottom: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: block;
    max-width: 429px;
    width: 100%;
    @extend .flex-container;
    @extend .center-content;
    @extend .vertical-center;
    padding: 53px 0;
    text-decoration: none;
    font-family: $bold;
    font-size: 16px;
    color: #464c2d;
    transition: all .3s;
    .arrow {
      display: inline-block;
      margin-left: 20px;
      background: url('../img/content-arrow.png') no-repeat 0 2px;
      width: 12px;
      height: 12px;
      transition: all .3s;
    }

    &:hover {
      background: #bb9d69;
      color: #fff;
     .arrow {
       background-position: 0 -13px;
     }
    }
  }


  .about-inner {
    position: relative;
    padding: 49px 0 180px;
    max-width: 1260px;
    margin-left: 130px;
    border-left: 2px solid #464b2c;
    border-right: 2px solid #464b2c;
    h2 {
      padding: 0 0 47px 135px;
      border-bottom: 2px solid #464b2c;
      color: #464c2d;
      font-size: 101px;
      line-height: .8em;
      position: relative;
      z-index: 2;
    }

    .big-heading {
      font-family: $bold;
      display: block;
      text-transform: uppercase;
    }

    .small-heading {
      font-family: $regular;
      font-weight: normal;
    }
  }

  .about-cols {
    @extend .flex-container;
    padding: 58px 145px 0;
    color: #464c2d;
    position: relative;
    z-index: 2;
    p {
      max-width: 474px;
      margin-right: 69px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.about-section {
  position: relative;
 &.inner-section {
   padding-top: 0;
 }

  .about-text-content {
    max-width: 810px;
    margin: 60px auto 0;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    p {
      line-height: 1.8em;
      color: #666666;
    }
  }

  .about-bg {
    background: url('../img/about-bg.png') no-repeat right top;
    padding-top: 92px;
    min-height: 2654px;
}
  .about-section-title {
    margin-top: 57px;
    margin-bottom: 60px;
    color: #5d6267;
    font-family: $bold;
    font-size: 43px;
    display: block;
    text-align: center;
    line-height: .9em;
  span {
    font-size: 18px;
    font-family: $regular;
    display: block;
  }
}

.card-heading {
line-height: inherit;
}

  .card-year-holder {
    background: url('../img/number-bg.jpg') no-repeat -116px -289px;;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 20px;
    .card-year {
    color: transparent;
    display: inline-block;
  }

  .card-year-2 {
    margin-top: -101px;
    margin-left: -20px;
  }

  .card-year-desc {
    right: 91px;
    top: 138px;
  }
  }
  .about-leaf {
    position: absolute;
  }
  .about-left-leaf {
    background: url('../img/about-left-leaf.png') no-repeat;
    width: 797px;
    height: 1022px;
    display: block;
    top: 287px;
    left: -25px;
  }
  .about-right-leaf {
    background: url('../img/about-right-leaf.png') no-repeat;
    width: 742px;
    height: 976px;
    display: block;
    top: 274px;
    right: -25px;
  }
}

.brand-holder {
  position: relative;
  margin-top: 579px;

  .brand-text-holder {
    position: relative;
    z-index: 2;
    max-width: 870px;
    margin: auto;

    p {
      text-align: center;
      color: #666666;
    }
  }

  .brand-ese-logo {
    @extend .flex-container;
    @extend .center-content;
    margin-bottom: 48px;
  }

  .about-brand-title {
    font-family: $bold;
    color: #666666;
    font-size: 74px;
    text-align: center;
    line-height: .8em;
    font-weight: normal;
    margin-bottom: 75px;
    .title-inner {
      display: block;
      font-family: $regular;
      font-size: 34px;
    }
  }

  .brands {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
    li {
      margin-right: 42px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .brand-hand-oil {
    background: url('../img/about-hand-oil.png') no-repeat;
    height: 1307px;
    width: 620px;
    position: absolute;
    top: -121px;
    left: 0;
    display: block;
  }
}

.brand-bg {
  background: url('../img/ece-bg.png') no-repeat center top;
  min-height: 1200px;
  margin-top: -233px;
  padding-top: 233px;
}

.history-holder {
  background: url('../img/tab-section.png') no-repeat;
  min-height: 1294px;
}

.history-text-content {
  max-width: 1150px;
  margin: auto;
  padding-top: 204px;

  .history-title {
    position: relative;
    h3 {
      font-family: $bold;
      font-size: 88px;
      color: #fff;
      text-align: center;
    }
  }

  .history-wood {
    background: url('../img/history-wood.png') no-repeat;
    width: 579px;
    height: 477px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 53px;
  }
}

.tab-content {
  background: #fff;
  padding: 53px 81px;
  position: relative;
  z-index: 2;
  min-height: 885px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 18px 50px -10px;
  margin: 100px 0 193px;

  .tab-nav {
    list-style: none;
    @extend .flex-container;
    border-bottom: 1px solid #666766;
    margin-bottom: 52px;
    li {
      margin-right: 38px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #333333;
        text-decoration: none;
        transition: all .3s;
        position: relative;
        height: 100%;
        display: block;
        padding-bottom: 12px;
        &:after {
          content: "";
          display: block;
          height: 4px;
          width: 0;
          background: #bc9c61;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all .3s;
        }

        &:hover, &.active {
          color: #bc9c61;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.tabs {
  color: #333333;
  .tab {
    display: none;
  }
  .active-tab {
    display: block;
  }
  h4 {
    font-weight: normal;
    font-family: $regular;
    font-size: 34px;
    margin-bottom: 46px;
  }

  .tab-text {
    max-height: 517px;
    overflow-y: auto;
    padding-right: 30px;
    p {
      font-size: 14px;
      line-height: 1.5em;

    }
  }
}



