

@media (max-width: 1500px) {
  .card-info-holder {
    background-position: center;
  }

  .card-holder {
    .button-holder {
      right: -83px;
      bottom: 195px;
    }
  }

  .left-leaf, .right-leaf {
    display: none;
  }
}

@media (max-width: 710px) {
  .card-info-text {
    column-count: 1;
    overflow-x: hidden;
  }

  .card-holder {
    margin-bottom: 30px;
  }

  .about-index-section .about-inner {
    padding: 49px 0 80px;
  }

  .product-index-section h3 {
    font-size: 38px;
    margin-bottom: 60px;

  }

  .company-info-container .company-text {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  .about-index-section {
    .about-inner {
      .big-heading{
        font-size: 44px;
      }
    }
  }

  .card-holder {
    .card-info-holder {
      min-height: 434px !important;
    }

    .load-more-btn {
      max-width: 250px;
      padding: 19px 0;
    }
  }

  .card-info-text {
    column-count: 1;
    padding: 0 20px;
  }

  .card-heading {
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .card-year-holder {
    margin: 0;
    .card-year {
      font-size: 80px;
    }
    .card-year-desc {
      font-size: 20px;
      right: -134px;
      top: 3px;
    }
  }
}

