@media (max-width: 1480px) {
  .footer-left-col {
    margin-right: 20px;
  }

  .footer-menu {
    flex-wrap: wrap;
    li {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 900px) {
  .footer-row {
    flex-wrap: wrap;
  }

  .footer-right-col {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-menu {
    margin-top: 20px;

  }
}


@media (max-width: 700px) {
  .footer-left-col{
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-address, .footer-email {
    width: 100%;
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 10px;
  }
}