.product-index-section {
  margin-bottom: 85px;
  .col-md-6 {
    padding: 0;
  }

  .oil-col {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 623px;
    width: 100%;
    position: relative;
    @extend .flex-container;
    @extend .center-content;
    @extend .vertical-center;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
    img {
      align-self: center;
      max-width: inherit;
    }
    &.left-col {
      background-image: url('../img/left-col.jpg');
      &:after {
        background: rgba(0, 0, 0, .2);
      }
    }
    &.right-col {
      background-image: url('../img/right-col.jpg');
      &:after {
        background: rgba(255, 255, 255, .2);
      }
    }

  }

  h3 {
    text-align: center;
    font-family: $bold;
    font-size: 45px;
    line-height: .8em;
    text-transform: uppercase;
    margin-bottom: 103px;
    .sub-title {
      display: block;
      font-size: 16px;
      text-transform: none;
    }
  }
}